<div class="edit-workout">
  <%= link_to "Edit #{@workout.name}", edit_category_workout_path(@category, @workout) %>
</div>

<div class="delete-workout">
  <%= link_to "Delete #{@workout.name}", category_workout_path(@category, @workout), method: :delete %>
</div>

<%= link_to "Back to #{@category.name}", category_path(@category) %>


<h1><%= @workout.name %></h1>
<img><%= @workout.img_url %></img>
<h3><%= @workout.duration %></h3>
<h3><%= @workout.level %></h3>
<h3><%= @workout.equipment_needed %></h3>
<h4><%= @workout.source %></h4>
<h4><%= @workout.description %></h4>
<p><%= @workout.content %></p>
<p><%= @workout.category.name %></p>
