<div class="back-nav-container">
  <div class="back-nav">
    <%= link_to "Back to #{@category.name}", category_path(@category), class: "back-nav-text" %>
  </div>
</div>

<div class="workout-info-container">
  <div class="workout-info">
    <h1 class="workout-name"><%= @workout.name %></h1>
    <h4 class="workout-description"><%= @workout.description %></h4>
    <h3 class="duration-level-equipment-source-category-data">
      <span class="duration-level-equipment-source-category">Duration:</span> <%= @workout.duration %> |
      <span class="duration-level-equipment-source-category">Level:</span> <%= @workout.level %> |
      <span class="duration-level-equipment-source-category">Equipment Needed:</span> <%= @workout.equipment_needed %> |
      <span class="duration-level-equipment-source-category">Source:</span> <%= @workout.source %> |
      <span class="duration-level-equipment-source-category">Category:</span> <%= @workout.category.name %>
    </h3>
    <%= button_to "Track This Workout!", new_workout_entry_path(@workout), method: :get %>
  </div>
</div>

<div class="workout-content-container">
  <div class="workout-content">
    <%= simple_format(@workout.content) %>
  </div>
</div>

<div class="workout-entries-container">
  <div class="workout-entries-box">
    <div class="workout-entries-header"><%= "#{@workout.name} Entries" %></div>
    <div class="workout-entries-text">
      <% @workout.entries.each do |entry| %>
        <% if entry.user == current_user %>

            <%= link_to edit_workout_entry_path(@workout, entry) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>

            <%= link_to workout_entry_path(@workout, entry), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>

          <%= entry.workout.name %> |
          <%= entry.workout.category.name %> |
          <%= entry.duration %> |
          <%= entry.date %> |
          <%= entry.comments %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
