<% @entry.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_for [@workout, @entry] do |f| %>
  <%= f.label :duration, "Duration: " %>
  <%= f.text_field :duration %>
  <br>
  <%= f.label :date, "Date: " %>
  <%= f.text_field :date %>
  <br>
  <%= f.label :comments, "Comments: " %>
  <%= f.text_area :comments %>
  <br>
  <%= f.submit %>

<% end %>
<!-- Good job using form_for to keep your code DRY -->
<!-- One thing you could do to help style your forms is to put each pair of `label and text_field` into its own <div>, then to space the divs appropriately-->
