<div class="category-header-container">
  <div class="category-header">
    <h1 class="category-header-text"><%= "#{@workout.category.name} Tracked Workouts" %></h1>
  </div>
</div>


<div class="workout-entries-container">
  <div class="workout-entries-box">

    <%= link_to edit_workout_entry_path(@workout, @entry) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i> <!-- The icons are a good touch -->
    <% end %>

    <%= @entry.workout.name %> |
    <%= @entry.workout.category.name %> |
    <%= @entry.duration %> |
    <%= @entry.date %> |
    <%= @entry.comments %>
  </div>
</div>
