<!DOCTYPE html>
<html>
  <head>
    <title>Project2WorkoutApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>Workout App</h1>
      <h2><%= link_to "Categories", categories_path %> | <%= link_to "Workouts", workouts_path %></h2>
    </nav>
    <%= yield %>
  </body>
</html>
