<!DOCTYPE html>
<html>
  <head>
    <title>bMORE FIT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <script src="https://use.fontawesome.com/d356419531.js"></script>
  </head>

  <body>
    <nav>
      <h1 class="app-title">bMORE FIT</h1>
      <h2>
        <%= link_to "Categories | ", categories_path, class: "nav-text" %>

        <% if !current_user %>
          <%= link_to "Sign up | ", new_user_registration_path, class: "nav-text" %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-text" %>
        <% else %>
          <%= link_to "Show My Workouts |", entries_path, class: "nav-text" %>
          <span class="nav-text"><%= current_user.email %></span>
          <%= link_to " | Sign out", destroy_user_session_path, :method => :delete, class: "nav-text" %>
        <% end %>

      </h2>
    </nav>

    <div class="notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
